body{
	font-family: Arial;
	font-size: 12px;
}

#wrapper{
	width: 980px;
	margin: 0 auto;
	background: #838383;
}

#header{
	width: 980px;
	height: 206px;
}

#banner_top{
	background: url("../image/banner-sup.png") 0 0 no-repeat;
	width: 980px;
	height: 141px;
}

/**** MENU ****/

#main_menu{
	width: 978px;
	height: 63px;	
	border: 1px solid #838383;
}

.first_tab:hover{
	background: url("../image/boton1.png") 0 0 no-repeat;
}

#tabs{
	width: 882px;
	margin: 13px auto 0 auto;	
}

#tabs li{
	display: inline-block;	
	margin: 0 23px 0 0;	
}

#tabs li a{
	display: inline-block;
	width: 200px;
	height: 35px;
	padding: 16px 0 0;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.first_tab{
	background: url("../image/boton1.png") 0 0 no-repeat;
}

.first_tab:hover{
	background: url("../image/boton1h.png") 0 0 no-repeat;
}

.second_tab{
	background: url("../image/boton2.png") 0 0 no-repeat;
}

.second_tab:hover{
	background: url("../image/boton2h.png") 0 0 no-repeat;
}

.third_tab{
	background: url("../image/boton3.png") 0 0 no-repeat;
}

.third_tab:hover{
	background: url("../image/boton3h.png") 0 0 no-repeat;
}

.four_tab{
	background: url("../image/boton4.png") 0 0 no-repeat;
}

.four_tab:hover{
	background: url("../image/boton4h.png") 0 0 no-repeat;
}

.last_tab{
	margin-right: 0px !important;
}

/**** SLIDER ****/

#content_slide{
	width: 980px;
	height: 491px;
}

/**** CONTENT ****/

#content{
	width: 980px;
	height: 647px;
	padding: 10px;
}

#wrapper_column{
	overflow: hidden;
}

#column1{
	width: 504;
	float: left;	
}

#column2{
	width: 357px;
	float: right;
}

.box_quienes{
	width: 572px;
}

.box_quienes h1{
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	background: #5B5B5B;
	padding: 10px;
}

.box_quienes p{
	background: #FFF;
	padding: 20px;
} 